* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: cursive;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  outline: none;
}

/* Navbar */

nav {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #0080ff, #0090aa);
  padding: 1rem;
  top: 0;
  position: fixed;
  z-index: 1000000000;
}

.nav-title {
  font-size: 3rem;
  color: antiquewhite;
  scroll-behavior: smooth;
}

.nav-links {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.nav-link {
  color: antiquewhite;
  font-size: 1rem;
  transition: all 0.3s linear;
}

.nav-link:hover {
  transform: translateY(-0.5rem);
  color: azure;
  font-weight: bold;
  border-bottom: azure 0.3rem solid;
}

/* banner */

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh);
  overflow: hidden;
  flex-direction: column;
  background-image: linear-gradient(to right, lavenderblush, lavender);
}

.title {
  font-size: 10rem;
  padding-bottom: 1rem;
}

.subtitle {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

#banner-btn {
  border: 0.1rem goldenrod solid;
  color: antiquewhite;
  background-color: goldenrod;
  font-size: 2rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
  margin-top: 1rem;
  transition: all 0.3s linear;
}

#banner-btn:hover {
  color: black;
  border: black 0.1rem solid;
  background-color: transparent;
}

/* Questions */
.question-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  background-image: linear-gradient(to right, whitesmoke, white);
}

h2 {
  font-size: 5rem;
  font-family: monospace;
}

.question-container p {
  font-size: 4rem;
  color: red;
  font-weight: 900;
  text-decoration: underline;
  padding: 1rem auto;
}

.rules-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

li:nth-last-of-type(1) {
  margin-bottom: 10rem;
}

.q1 {
  width: 100%;
  padding: 3rem;
  border-bottom: 3rem black solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#q1 {
  border-top: 3rem solid black;
}

h1 {
  color: whitesmoke;
  text-align: center;
  background-color: blue;
  width: 30%;
  padding: 1rem;
  font-size: 4rem;
  margin-left: 50rem;
  border-radius: 1rem;
}
.line1,
.line2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  padding-top: 3rem;
}

#option {
  color: black;
  padding: 1rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  transition: all 0.3s linear;
  border-radius: 1rem;
  cursor: pointer;
  border: black 0.1rem solid;
  background: transparent;
}

#option:hover {
  color: blue;
  border: blue 0.1rem solid;
}

#right {
  color: black;
  padding: 1rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  transition: all 0.3s linear;
  border-radius: 1rem;
  cursor: pointer;
  border: black 0.1rem solid;
  background: transparent;
}

#right:hover {
  color: blue;
  border: blue 0.1rem solid;
}

.line {
  width: 750%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  display: flex;
  justify-content: start;
}

footer {
  min-height: 7rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: black;
}

span {
  font-size: 5rem;
  width: 100%;
  border-bottom: 0.5rem white solid;
  text-align: center;
  padding: 1rem 0rem;
  margin-bottom: 3rem;
  color: white;
}

footer p {
  font-size: 2rem;
  color: white;
}

.gushi {
  color: black;
  padding: 1rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  transition: all 0.3s linear;
  border-radius: 1rem;
  cursor: pointer;
  border: black 0.1rem solid;
  background: transparent;
}

.gushi:hover {
  color: blue;
  border: blue 0.1rem solid;
}
